header a {
  transition: color 0.2s ease-in-out;
}

/* ease-in-out effect*/
.swiper-wrapper {
  transition-timing-function: ease-in-out !important;
}

/* slider effect */
.swiper-slide {
  opacity: 0 !important;
}
.swiper-slide-active {
  opacity: 1 !important;
}



